DATABASE_URL="postgresql://quizzty:quizzty@localhost:5432/quizzty?schema=public"
REDIS_URL="redis://localhost:6379"
PORT=4000
JWT_SECRET=change-me-in-production
CORS_ORIGIN="http://localhost:3000"
CLOUDINARY_URL=cloudinary://<api_key>:<api_secret>@<cloud_name>
